body {
  max-width: 1280px;
  
  min-height: 6875px;
  margin: 0 auto;
  background-color: #2A2C2F;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  padding: 0;
  color: #FFF;
  font-family: "Inter", "Arial ", sans-serif;
 
}

@media screen and (max-width: 1024px) {
  body {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
  }
}

@media screen and (max-width: 470px) {
  body {
    max-width: 470px
    
  

  }
}

@media screen and (max-width: 320px) {
  body {
    max-width: 320px;
  }
}