.header {
  max-width: 1184px;
  width: calc(100% - 96px);
  height: 52px;
  display: grid;
  grid-template-columns: auto 30px 30px;
  align-items: end;
  margin: 0 48px 56px 48px;
  padding-top:  28px;
  column-gap: 18px;
}

@media screen and (max-width: 1028px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    margin: 0 auto 48px ;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 100%;
    margin: 16px 16px 48px 16px;
    padding-top: 16px;
  }
}