.footer__link {
  text-decoration: none;
  margin-right: 18px;
  font-family: "Inter", "Arial ", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}

@media screen and (max-width: 320px) {
  .footer__link {
   padding-bottom: 32px;
  }
}

@media screen and (max-width: 480px) {
  .footer__link {
   padding-bottom: 32px;
  }
}