
.cover__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0 auto 32px;
  left: 312px;
  color: #FFFFFF;
  z-index: 1;
  max-width: 560px;
  ;
  text-align: center;
} 

@media screen and (max-width: 768px) {
  .cover__title {
    
  }
} 

@media screen and (max-width: 320px) {
  .cover__title {
    
    
max-width: 288px;
margin-bottom: 16px;



font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 35px;


text-align: center;

color: #FFFFFF;

    
  }
} 


