.place {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 17px;
  row-gap: 27px;
  margin-bottom: 80px;
  

  
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    margin-bottom: 80px;
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    margin: 73px auto;
    row-gap: 25px;

  }
}

@media screen and (max-width: 470px) {
  .place {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    row-gap: 0;
    margin: auto;
    padding-bottom: 50px;
  

  }
}

@media screen and (max-width: 320px) {
  .place {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    row-gap: 0;
    margin: 0;
    padding-bottom: 50px;
  

  }
}

