.place__website {
  align-self: end;
  padding-bottom: 48px;
}



@media screen and (max-width: 655px) {
  .place__website {
    align-self: flex-start;
    margin-left: 0;
    margin-bottom: 32px;

  }
}

@media screen and (max-width: 320px) {
  .place__website {
    align-self: flex-start;
    margin-left: 16px;
    padding-bottom: 0;
  }
}